<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>

    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Archivo|Arvo|Crete+Round|Francois+One|Josefin+Slab|Kanit|Khula|Lato|Open+Sans|Questrial|Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'css/myP2P_app.css' %}" rel="stylesheet" type="text/css">
</head>
<body>


<div class = "container">
   <div class ="row wrapper">
    <div class ="row row-one">
        <a href="/" class="header-text"><img class="logo" src="../static/images/logo.png" alt="logo" id="logo">
        </a><br />
        <div class = "socialMedia">
                <ul>
                    <li class="social"><i class="fa fa-facebook"></i></li>
                    <li class="social"><i class="fa fa-twitter"></i></li>
                    <li class="social"><i class="fa fa-instagram"></i></li>
                </ul>
            </div>
            <div class = "menu-options">

                  <button class="menu"  id="borrowing"><i class="fa fa-credit-card icon3" aria-hidden="true" ></i>
                   <a href="/borrowing/" class="header-text">Borrowing</a><br /></button>

                  <button class="menu" id="lending"><i class="fa fa-money icon3" aria-hidden="true"></i>
                    <a href="/investing/" class="header-text">Investing</a><br /></button>

                  <button class="menu" id="register"><i class="fa fa-plus icon3" aria-hidden="true"></i>
                        <a href="/register_user/" class="header-text">Register</a><br />
                  </button>

                    <button class="menu" id="sign-in"><i class="fa fa-sign-in icon3" aria-hidden="true" ></i>
                        <a href="/login/" class="header-text">Login</a><br />
                  </button>

                    <button class="menu" id="sign-out"><i class="fa fa-sign-out icon3" aria-hidden="true" ></i>
                        <a href="/logout/" class="header-text">Logout</a><br />
                  </button>

                    <button class="menu" id="faq"><i class="fa fa-question icon3" aria-hidden="true" ></i>
                        <a href="/faq/" class="header-text">FAQ</a><br />
                  </button>

            </div>
     </div>
   </div>


<div class="row row-two-borrowing">
    <div class="col-md-12" id="overview">
        <h1 id ="main-heading">Borrowing FAQ </h1>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">How long does it typically take to get a loan?</h1>
                                <p id ="description">
                                    Usually about 7 days, though in certain cases it may take a little longer.
                                </p>
                        </div>
                </div>
    </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">What determines my credit score?</h1>
                                <p id ="description">
                                    Once you apply for a loan, a credit inquiry will be created so we can best evaluate your credit worthiness.
                                    Don't worry, no other creditors will be able to access your credit report as this is strictly confidential.
                                </p>
                        </div>
                </div>
        </div>


    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">What happens once I qualify for a loan?</h1>
                                <p id ="description">
                                    You'll receive multiple loan offers - each showing the loan amount, APR, interest rate,
                                    monthly payment, and term.
                                </p>
                        </div>
                </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">What information do I need to provide?</h1>
                                <p id ="description">
                                    After registering we'll ask you to provide the following in a separate form: Social Security, current income and employment history.
                                </p>
                        </div>
                </div>
        </div>
</div>

<div class="row row-two-investing">
    <div class="col-md-12" id="overview">
        <h1 id ="main-heading">Investing FAQ </h1>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">Are there retirement accounts?</h1>
                                <p id ="description">
                                    Yes - we offer Traditional IRA, Roth IRA and 401(k) Rollover accounts.
                                </p>
                        </div>
                </div>
    </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">What investment account options do I have?</h1>
                                <p id ="description">
                                   Individual account, joint account, trust account, corporate account and custodial/minor account.
                                </p>
                        </div>
                </div>
        </div>


    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">What is your most popular account?</h1>
                                <p id ="description">
                                  Standard individual investment accounts are our most popular.
                                </p>
                        </div>
                </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
                <div class ="questions">
                    <!--<div class="image-holder">-->
                        <!--<i class="fa fa-credit-card" aria-hidden="true" id ="icon1"></i>-->
                    <!--</div>-->
                        <div class ="questions-text">
                            <h1 id ="description-title">Is the risk of each loan being accounted for?</h1>
                                <p id ="description">
                                   Yes - Loans are graded from A-E (A being lowest risk) with average historical returns ranging from 4.5%-6.75%.
                                </p>
                        </div>
                </div>
        </div>
</div>




















</div>












</body>
</html>